[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "downloadpytorch"

[packages]
flask = "==3.1.1"
numpy = "==2.3.2"
pandas = "==2.3.1"
scikit-learn = "==1.7.1"
transformers = "==4.55.0"
requests = "*"
gunicorn = "*"
torch = {version = "==2.8.0", index = "downloadpytorch"}
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.13"
