[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.1"
numpy = "==2.3.2"
pandas = "==2.3.1"
scikit-learn = "==1.7.1"
transformers = "==4.55.0"
torch = "*"
requests = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
